# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
*.env

# uv
.python-version

# Node
node_modules/
dist/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Django
db.sqlite3
staticfiles/
media/

# Environment
.env
.env.local
